/** @format */

*,
html,
body {
  box-sizing: border-box;
  color: white;
}

body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#a91e2e, #cccccc);
  background-repeat: no-repeat;
}

.header {
  display: flex;
  justify-content: center;
  margin: 2% 0 2% 0;
}

.header a {
  list-style: none;
  text-decoration: none;
  color: white;
}

.menus {
  display: flex;
  justify-content: center;
  gap: 5%;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 10px;
}

li {
  list-style-type: none;
}

li:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3%;
}

.projects h2 {
  margin-bottom: 2%;
}

h3 {
  color: white;
}

.featured {
  width: 90%;
  margin: 2% auto;
  display: flex;
  gap: 5%;
}

.part1 {
  width: 50%;
}

.part2 {
  width: 50%;
}

.part2 h4 {
  color: #444;
}

.featured-img {
  background-image: url('konza.jpg');
  background-position: center;
  background-size: cover;
  width: 600px;
  height: 200px;
}

.fp {
  color: #444;
  margin: 0 0 0 5%;
}

@media all and (max-width: 1000px) {
  .featured {
    flex-direction: column;
  }
}